<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
        <PatternLayout pattern="%style{[%d{HH:mm:ss}]}{blue} %highlight{[%level]}{ERROR=Bright RED, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White} %style{(%logger)}{cyan} %msg%n" disableAnsi="false"/>
    </Console>
</Appenders>
<Loggers>
    <Root level="TRACE">
        <AppenderRef ref="ConsoleAppender"/>
    </Root>
</Loggers>
</Configuration>